<h1>
  {{note}}
</h1>

<h2>ex.)</h2>

<button theme="primary" icon="next">Next</button>
<button theme="primary" color="success" icon="check">Save</button>
<button theme="primary" color="warning" icon="caution-o">Caution</button>
<button theme="primary" color="pulse" icon="next" disabled>Submit</button>

<div>
  <novo-loading></novo-loading>
</div>
<div class="whiteBg">
  <novo-spinner theme="multicolor"></novo-spinner>
</div>

<novo-date-picker [(ngModel)]="dateOne" minYear="2000" maxYear="2020"
                      [start]="start" [end]="end"></novo-date-picker>
